[[extend 'layout.html']]
<div class="container">
    [[=grid.render()]]
    [[if grid.mode != "select":]]
    <div style="background-color: whitesmoke; padding: 1rem; padding-bottom: 2rem;">
        <h2 class="subtitle">Orders</h2>
        <div id="htmx-target" hx-boost="true" hx-target="#htmx-target">
            <div hx-get="[[=URL('customer_orders', vars=dict(parent_id=parent_id)) ]]" hx-trigger="load">
                <img class="htmx-indicator" src="[[=URL('static', 'images/spinner.gif')]]" height="20"/>
            </div>
        </div>
    </div>
    [[pass]]
</div>
