[[extend 'layout.html']]
<div class="section">
    <h1 class="title">py4web/HTMX Demo</h1>
    <p>This application is a simple proof of concept of the py4web grid using <a href="https://htmx.org/">htmx</a>.</p>
    <p>We have 3 pages in the app. It is build with no authentication/security just to keep it simple. Adding this
        functionality
        though py4web is trivial.</p>
</div>

<div class="section">
    <h1 class="title">Products</h1>
    <p>A simple py4web grid allowing you to create some products.</p>
</div>

<div class="section">
    <h1 class="title">Customers</h1>
    <p>py4web grid to maintain customers with the addition of a read-only list of orders for that customer.</p>
</div>

<div class="section">
    <h1 class="title">Orders</h1>
    <p>The orders grid is build to have the order detail lines grid kept in an htmx target. The grid needs to know about
    the id of the parent record.</p>
</div>
